<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by TEMPLATED
http://templated.co
Released for free under the Creative Commons Attribution License

Name       : Undeviating 
Description: A two-column, fixed-width design with dark color scheme.
Version    : 1.0
Released   : 20140322

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="UTF-8">
<title>House Prices Predict</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900|Quicksand:400,700|Questrial" rel="stylesheet" />
<link href="default.css" rel="stylesheet" type="text/css" media="all" />
<link href="fonts.css" rel="stylesheet" type="text/css" media="all" />

</head>
<body>
<div id="header-wrapper">
	<div id="header" class="container">
		<div id="logo">
        	<span class="icon icon-cog"></span>
			<h1 style="color:white">Predicted House Pirce</h1>
		</div>
	</div>
</div>

<div class="wrapper">
    <div id="three-column" class="container">
        <!-- <div><span class="arrow-down"></span></div> -->
        <div id="tbox1">
            <img src="images/banner.jpg" width="360" height="200">
        </div>
        <div id="tbox2" style="padding-left:80px">
            <div class="title">
                <p><h2>Select Feature</h2></p>
                <form action="/form_handler/" method="get">
                    <p>feature1
                        <select>
                            <option>1</option>
                            <option>2</option>
                        </select>
                    </p>
                    <p>feature2
                        <select>
                            <option>1</option>
                        </select>
                    </p>
                    <input type="submit" class="button" value="Submit">
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
